Django
djangorestframework
celery
python-decouple
djangorestframework-simplejwt
django-filter
channels
django-cors-headers
django-friendship
django-storages
django-celery

django-imagekit
django-image-cropping
easy-thumbnails
django-oauth2-provider
django-oauth-toolkit
openpyxl
reportlab
Petrovich
beautifulsoup4
pdfplumber
pandas
whitenoise
aiogram
redis
PyMySQL
Pillow
